@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Lato:ital,wght@1,100&family=Macondo&family=Metal+Mania&family=Raleway:wght@100&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Kurale', serif;
    color: #777;
}
html, body{
    margin:0;
    padding: 0;
}
.nav ul{
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 0.5m;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255, .3);

}

.main-nav li{
    padding:0 5%;
}
.main-header{
    background-color: rgba(0,0,0, .6);
   
    background-size: cover;
    
    background-blend-mode: multiply;
    padding-bottom: 30px;

}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family:  'Macondo', cursive;
    font-weight: normal;
    color: white;
}
.band-name-large{
    font-weight: 8em;
}

.content-section{
    margin:1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: 'Metal Mania';
    font-weight: normal;
    text-align: center;
    color: #333;
    font-size: 3.5em;
}

.about-band-image{
    float: left;
    height:200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
.band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 0px;
    border-radius: 50%;
}

.main-footer{
    background-color: #56ccf2;
    color:white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;

}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img{
    width: 30px;
    height: 30px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;

}

.btn-header{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid#2d9cdb;
    background-color: rgba(255,255,255, .1);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover{
    background-color: rgba(255,255,255, .3);
}

.btn-play{
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px ;
    
}

.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}
.tour-row:last-child{
    border-bottom: none;
}

.tour-item{
    display: inline-block;
    padding:.5em;

}

.tour-date{
    color:#555;
    font-weight: bold;
    width:11%;

}

.tour-city{
    width:24%
}

.tour-btn{
    max-width:90%
}
.tour-arena{
    width:42%;
}
.btn-primary{
    color:white;
    background-color: #56ccf2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #2d9cdb;
}

.shop-item{
    margin: 30px;

}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image{
    height: 250px;
}

.shop-item-detail{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price{
    flex-grow: 1;
    color: #333;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social {
    text-align: center;
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    
    font-weight: 600;
    justify-content: center;
   
    
    
}


.img-box{
    border: .3em solid;
    text-align: center;
}
.img-box1{
    border: .3em solid;
    text-align: center;
}.img-box2{
    border: .3em solid;
    text-align: center;
}.img-box3{
    border: .3em solid;
    text-align: center;
}.img-box4{
    border: .3em solid;
    text-align: center;
}
.text-content{
    margin-left: auto;
    margin-right: 25px;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}



.sc-h-i:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      
}
.sc-h-t:hover{
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa, #ffffff);
}
.sc-h-y:hover{
    background-color: rgb(255 0 0);
}
.mem-name{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
}